@use '../settings' as *;

%title-base {
    font-weight: 700;
    color: get-color('primary');
    margin-bottom: 1rem;
}

%btn-base {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: all map-get($transitions, 'fast');
}