/* Selector universal*/
@import 'settings/variables';
@import 'base/reset';
@import 'base/base';
@import 'layout/layout';
@import 'components/components';
@import 'utilities/utilities';

/* Archivo principal que importa los partials en orden (organizados en carpetas) */
