/* Selector universal*/
@use 'settings' as *;
@use 'base/reset';
@use 'base/base';
@use 'layout/layout';
@use 'components/components';
@use 'utilities/utilities';

/* Archivo principal que importa los partials en orden (organizados en carpetas) */
