@use '../abstracts/variables' as *;

html { font-size: 100%; }
body { color: map-get($colors, dark); line-height: 1.6; }
h1, h2, h3, h4, h5 { color: map-get($colors, primary); }
.brand-title { font-weight: 700; letter-spacing: .5px; }

