/* Error: expected "{".
 *   ,
 * 1 | .@use '../settings/variables' as *;
 *   |                                   ^
 *   '
 *   scss\layout\_layout.scss 1:35  @use
 *   scss\style.scss 5:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected \"{\".\a   \2577 \a 1 \2502  .@use '../settings/variables' as *;\d\a   \2502                                    ^\a   \2575 \a   scss\\layout\\_layout.scss 1:35  @use\a   scss\\style.scss 5:1            root stylesheet";
}
