/* Error: $description: Expected "primary" to be an unquoted string.
 *   ,
 * 3 |     color: color('primary');
 *   |            ^^^^^^^^^^^^^^^^
 *   '
 *   scss\tools\_placeholders.scss 3:12  @forward
 *   scss\tools\_index.scss 2:1          @use
 *   scss\style.scss 3:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $description: Expected \"primary\" to be an unquoted string.\a   \2577 \a 3 \2502      color: color('primary');\d\a   \2502             ^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\tools\\_placeholders.scss 3:12  @forward\a   scss\\tools\\_index.scss 2:1          @use\a   scss\\style.scss 3:1                 root stylesheet";
}
