@use '../settings' as *;
@use '../tools' as *;

/* Estilos base */
body {
  background-image: url(../img/dulces-l.derecho.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: get-color('text');
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
  @extend %title-base;
}

.lead-text-secondary {
  font-style: italic;
  font-weight: bold;
  font-size: large;
}

.brand-title {
  font-weight: 700;
  letter-spacing: .5px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}